.body{
    background-color: rgb(36, 93, 143);
}

.container{
    margin: 2%;
    border-radius: 5px;
    box-shadow:navajowhite;
    background-color: rgb(26, 155, 194);
}

.bus-info{
    display: flex;
    margin: 5px;
    justify-content: space-between;
    background-color: rgb(217, 223, 240);
}

.bus-info img{
    border-radius: 7dvh;
    width: 400px;
    height: 200px;
}

h1{
    font: 1em sans-serif;
}

a{
    padding-right: 40px;
    padding-top: 90px;
    font-size: large;
    font-weight: bolder;
}