.body{
    background-color: white;
}

.hero{
    display: flex;
    justify-content: space-between;
    background-color: rgb(175, 62, 62);
}

.hero> .hero-nav>. ul{
    display: flex;
}

ul{
    display: flex;
}
ul a{
    color:brown;
}
.mads{
    background-color: rgb(11, 11, 59);
    padding: 7%;
    display: grid;
}

.mads> h2{
    color: rgb(241, 234, 234);
    margin-left: 42%;
}

/*
h1{
    background-image:url("Snipaste_2025-04-29_09-16-50.png");
    background-attachment: fixed;
    padding: 15%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(252, 241, 241);
    color: rgba(248, 240, 240, 0.911);
   /* filter:brightness(50%);
    
    z-index: 0;
    font-size: 4rem;
}

h1::after{
    content: 'yoo';
    color: rgb(245, 240, 240);
    z-index: 1;
    pointer-events: none;
   /* background-blend-mode: luminosity;*/
   /* background-blend-mode:darken;
   background-color: rgba(0, 0, 0, 0.5)

}*/

section{
   /* background-image: url(Snipaste_2025-04-29_09-16-50.png);*/
    color: hsl(0, 23%, 95%);
    /*margin-left: 42%;*/
    place-items: centre;
    height: 100vg;
    display: grid;
    position: relative;
    background-color: rgb(7, 7, 7);
    padding: 9%;
    padding-left: 27%;
    font-size: 3rem;
}

section::before{
   /* height: 100vg;*/
    background-image: url(Snipaste_2025-04-29_09-16-50.png);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.7;
    background-attachment: fixed;

   /* display: grid;
    background-color: grey;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

.intro-search{
    padding: 50px;
    background-color:rgb(155, 11, 11);
    /*padding-left: 40%;*/
    display: flex;
    justify-content: center;
    margin:  -5% 5%;
    margin-bottom: 5%;
    
}
/*
form{
    background-color: blue;
}
*/
.intro-p{
    background-color:rgb(255, 255, 255);
}
.intro>.intro-p> ul{
    color: blue;
   /* margin-left: 42%;*/
}

.intro>.intro-p> h2{
    color: rgb(36, 118, 173);
    margin-left: 42%;

}
 ul li a{
    color: white;
}

.latest-vacancy{
    background-color: rgb(153, 170, 164);
    padding: 7%;
}
